<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AM theory</title>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto+Condensed&family=Roboto+Mono&family=Space+Mono&family=Wix+Madefor+Display&display=swap');
    </style> -->
</head>

<body>

    <nav>
        <!-- <button class="theory-nav-button" id="theme-toggle">Toggle Theme</button> -->
        <!-- <div class="checkbox-container">
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="checkbox-label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="ball"></span>
            </label>
        </div> -->
        <!-- <div class="dark-mode-button hidden">
            <img src="../static/images/AM_MAIN/icons8-sun-24.png" alt="" />
        </div> -->
        <div class="light-mode-button">
            <img src="../static/images/AM_MAIN/icons8-moon-48 (1).png" alt="moon" />
        </div>
        <h1 class="theory-title">Amplitude Modulation & Demodulation</h1>
        <div class="buttons">
            <a href="/">
                <button class="theory-nav-button">
                    <img src="../static/images/AM_MAIN/icons8-home-50.png" alt="">
                </button>
            </a>
        </div>
    </nav>

    <section class="theory-body">

        <br>
        <h3>Amplitude Modulation</h3>
        <p>Amplitude Modulation (AM) is a technique used to modulate a high-frequency carrier wave with a low-frequency
            message signal. The modulated signal contains the information from the message signal, which can be
            demodulated at the receiver to recover the original message signal.</p>

        <p>The process of deriving Amplitude Modulation (AM) involves multiplying a message signal with a high frequency
            carrier signal to generate a modulated signal.</p>
       
        <img src="/static/images/AM_MAIN/am_theory_2.png" alt="">
         
        <br><br>
        <h3>Derivation</h3>
        <p>The mathematical expression for AM modulation can be derived as follows:</p>

        <p>Let m(t) be the message signal, c(t) be the carrier signal, and s(t) be the modulated signal.</p>
        <p>The carrier signal can be represented as:</p>
        
        <p >c(t) = A<sub><sub>c</sub></sub> cos(2πf<sub><sub>c</sub></sub>t)</p>
        
        <p>where A<sub><sub>c</sub></sub>is the amplitude of the carrier signal and f<sub><sub>c</sub></sub> is the
            frequency of the carrier signal.</p>

        <p>The message signal can be represented as:</p>
        
        <p >m(t) = A<sub><sub>m</sub></sub> cos(2πf<sub><sub>m</sub></sub>t)</p>
       
        <p>where A<sub><sub>m</sub></sub> is the amplitude of the message signal and f<sub>m</sub> is the frequency of
            the message signal.</p>

        <p>To generate the modulated signal s(t), we multiply the message signal with the carrier signal:</p>
        
        <p c>s(t) = (A<sub><sub>c</sub></sub> + A<sub><sub>m</sub></sub>
            cos(2πf<sub><sub>m</sub></sub>t)) cos(2πf<sub><sub>c</sub></sub>t)</p>
           

        <p>Expanding this expression using the trigonometric identity for the product of two cosines, we get:</p>
        <p > s(t) = A<sub><sub>c</sub></sub> cos(2πf<sub><sub>c</sub></sub>t) + 0.5
            A<sub><sub>m</sub></sub> cos(2π(f<sub><sub>c</sub></sub> + f<sub><sub>m</sub></sub>)t) + 0.5
            A<sub><sub>m</sub></sub>cos(2π(f<sub><sub>c</sub></sub> - f<sub><sub>m</sub></sub>)t)</p>
        <p>Thus, the modulated signal s(t) contains three components: the carrier signal, and two sidebands that are
            spaced apart from the carrier frequency by the frequency of the message signal</p>

        <p>In the frequency domain, the AM signal has a spectrum that consists of a carrier signal and two sidebands,
            which are symmetrically placed around the carrier frequency.</p>
        <br><br>

        <h3>Amplitude De-Modulation</h3>

        <p>The process of extracting an original message signal from the modulated wave is known as detection or
            demodulation. The circuit, which demodulates the modulated wave is known as the demodulator.</p>

        <p>The following demodulators (detectors) are used for demodulating AM wave.</p>
        <ol>
            <li>Square Law Demodulator</li>
            <li>Envelope Detector</li>
        </ol>

        <img src="/static/images/AM_MAIN/am_theory_3.jpg" alt="">


        <p>One of the methods used to demodulate AM signals is square-law demodulation, which is based on the non-linear
            characteristic of a diode. The square-law demodulator circuit consists of a diode, a load resistor, and a
            capacitor.</p>
        <p>Let the modulating and carrier signals be denoted as m(t) and A<sub>c</sub>cos(2πf<sub>c</sub>t)
            respectively.</p>
        <p>These two signals are applied as inputs to the summer (adder) block. This summer block produces an output,
            which is the addition of the modulating and the carrier signal. Mathematically, we can write it as</p>

        <p >V<sub><sub>1</sub></sub>(t) = m(t) + A<sub><sub>c</sub></sub>cos(2πf<sub><sub>c</sub></sub>t)</p>

        <p>This signal V<sub><sub>1</sub></sub>(t) is applied as an input to a nonlinear device like diode. The
            characteristics of the diode are closely related to square law.</p>

        <p >V<sub><sub>2</sub></sub>(t) = k<sub><sub>1</sub></sub>V<sub><sub>1</sub></sub>(t) +
            k<sub><sub>1</sub></sub>V<sub><sub>1</sub></sub><sup><sup>2</sup></sup>(t) ............. (Equation 1)</p>
        <p>Where, k<sub>1</sub> and k<sub>2</sub> are constants.</p>
        <p>Substitute V<sub>1</sub>(t) in Equation 1</p>

        <p >V<sub><sub>2</sub></sub>(t) = k<sub><sub>1</sub></sub> [m(t) +
            A<sub><sub>c</sub></sub>cos(2πf<sub><sub>c</sub></sub>t)] + k<sub><sub>2</sub></sub>
            [m(t)+A<sub><sub>c</sub></sub>cos(2πf<sub><sub>c</sub></sub>t)]<sup><sup>2</sup></sup></p>


        <p >V<sub><sub>2</sub></sub>(t)
            =k<sub><sub>1</sub></sub>m(t)+
            k<sub><sub>1</sub></sub>A<sub><sub>c</sub></sub>cos(2πf<sub><sub>c</sub></sub>t)+k<sub><sub>2</sub></sub>m<sup><sup>2</sup></sup>(t)+k<sub><sub>2</sub></sub>A<sub><sub>c</sub></sub><sup><sup>2</sup></sup>cos<sup><sup>2</sup></sup>(2πf<sub><sub>c</sub></sub>t)+
            2k<sub><sub>2</sub></sub>m(t)A<sub><sub>c</sub></sub>cos(2πf<sub><sub>c</sub></sub>t)
        </p>


        <p >V<sub><sub>2</sub></sub>(t) = k<sub><sub>1</sub></sub>m(t) +k<sub>2</sub>m<sup>2</sup>(t)+k<sub>2</sub>A<sub>c</sub><sup>2</sup>cos<sup>2</sup>(2πf<sub>c</sub>t)+k<sub>1</sub>A<sub>c</sub>[1+(2k<sub>2</sub>/k<sub>1</sub>)m(t)]cos(2πf<sub>c</sub>t)
        </p>





        <p>The last term of the above equation represents the desired AM wave and the first three terms of the above
            equation are unwanted. So, with the help of band pass filter, we can pass only AM wave and eliminate the
            first three terms.</p>

        <p>Therefore, the output of square law modulator is</p>

        <p>s(t)= k<sub><sub>1</sub></sub>A<sub><sub>c</sub></sub>[1+(2k<sub><sub>2</sub></sub> /
            k<sub><sub>1</sub></sub>)m(t)]cos(2πf<sub><sub>c</sub></sub>t)</p>

        <p>The standard equation of AM wave is</p>

        <p>s(t) = (A<sub><sub>c</sub></sub> + A<sub><sub>m</sub></sub> cos(2πf<sub><sub>m</sub></sub>t))
            cos(2πf<sub><sub>c</sub></sub>t)</p>

        <p>Where, K<sub><sub>a</sub></sub> is the amplitude sensitivity</p>

        

        <p>By comparing the output of the square law modulator with the standard equation of AM wave, we will get the 
        </p><p>scaling factor as k<sub><sub>1</sub></sub>
        </p><p>the amplitude sensitivity k<sub><sub>a</sub></sub> as
            2k<sub><sub>2</sub></sub>/k<sub><sub>1</sub></sub>.</p>


        


        <script src="../../static/main.js"></script>
</body>

</html>