<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BASK</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/main.css">

</head>

<body>
    <nav>
        <div class="light-mode-button">
            <img src="../static/images/AM_MAIN/icons8-moon-48 (1).png" alt="moon" />
        </div>
        <h1 class="theory-title">BASK Modulation</h1>
        <div class="buttons">
            <a href="/">
                <button class="theory-nav-button">
                    <img src="../static/images/AM_MAIN/icons8-home-50.png" alt="">
                </button>
            </a>
        </div>
    </nav>

    </nav>

    <section class="theory-body">

        <p>Binary amplitude shift-keying (BASK), in which the carrier frequency and carrier
            phase are both maintained constant, while the carrier amplitude is keyed between
            the two possible values used to represent symbols 0 and 1.</p>



        <span>b(t) = &nbsp;&nbsp;
            <span>{</span>
            <p>&radic;E<sub><sub>b</sub></sub>&nbsp;&nbsp;<span>   for binary symbol 1</span>
                <br />
                 <span>0&nbsp;&nbsp;&nbsp;for binary symbol 0</span>
            </p>
            <span>}</span>
        </span>
        </span>
        <p>Then, multiplying b(t) by the sinusoidal carrier wave of above Equation with phase <i> &phi;<sub>c</sub></i>
            set equal to zero for convenience of presentation, we get the BASK wave</p>
        </span>

        <span>
            <span>s(t) = &nbsp;&nbsp;</span>
            <span>
                <span>{</span>
                <p>&radic;2*E<sub><sub>b</sub></sub>/T<sub><sub>b</sub></sub>cos(2&pi;f<sub><sub>c</sub></sub>t)&nbsp;&nbsp;&nbsp;<span
                        class="non-code">for binary symbol 1</span>
                    <br />
                    &nbsp;0&nbsp;&nbsp;&nbsp<span
                        class="non-code">for binary symbol 0</span>
                </p>
                <span>}</span>
            </span>
        </span>

        <span>
            <p>When a bit duration is occupied by symbol 1, the transmitted signal energy is E<sub>b</sub>.When the bit
                duration is occupied by
                symbol 0, the transmitted signal energy is zero. On this basis, we may express the average transmitted
                signal energy as <br><br>
                <span>E<sub>av</sub> = E<sub>b</sub>/2</span>
            </p>
        </span>

        <span>
            <p>
                To hold this condition, the two binary symbols must be equiprobable. In other words, if we are given a
                long binary data stream, then symbols 1 and 0 occur in essentially equal numbers in that data stream.
                For this equality to hold, however, there must be no bias involved in the generation of the bit stream,
                either in favor of symbol 1 or symbol 0.
            </p>
        </span>

        <h3>Graph of BASK</h3>
        <span>
            <p> In graph 
                <ol>
                    <li> Binary data stream</li> <li> Carrier wave</li> <li>Amplitude-shift keying.</li> </ol></p>
            <h4>Binary data stream:</h4>
            <p>A binary data stream is a sequence of digital bits (0s and 1s) that represents information in a digital
                form. This information could be anything from text, audio, images, or any other digital content. In the
                context of digital communication systems, a binary data stream is typically used as the input signal to
                be transmitted over a communication channel.</p>
        </span>

        <span>
            <h4>Carrier wave:</h4>
            <p>A carrier wave is a high-frequency sinusoidal waveform that is used to transmit the binary data stream
                over a communication channel. The carrier wave has a fixed frequency and amplitude, and its sole purpose
                is to modulate the binary data stream. The carrier wave is typically generated by an oscillator or a
                waveform generator, and its frequency is chosen to be higher than the highest frequency of the binary
                data stream to be transmitted.</p>
        </span>

        <span>
            <h4>Amplitude-shift keying:</h4>
            <p>Amplitude-shift keying (ASK) is a digital modulation technique that uses the amplitude of the carrier
                wave to transmit digital data. In ASK, the amplitude of the carrier wave is varied to represent the
                binary data stream. For example, a binary 0 could be represented by a carrier wave with a low amplitude,
                while a binary 1 could be represented by a carrier wave with a high amplitude.</p>
            <p>To transmit a binary data stream using ASK, the binary data stream is first encoded into a series of
                digital bits, which are then used to modulate the amplitude of the carrier wave. At the receiver end,
                the modulated carrier wave is demodulated to recover the original binary data stream. ASK is a simple
                and easy-to-implement digital modulation technique, but it is not very efficient in terms of bandwidth
                utilization and is susceptible to noise and interference.</p>
        </span>


        <h3>GENERATION AND DETECTION OF BASK SIGNALS</h3>

        <img src="/static/images/BASK/BASKCKT1.jpg" alt="" width="">

            <span>
                <p>BASK signal is generated by using a product modulator with two inputs. One input, the ON-OFF signal
                    i.e., is the modulating signal, The sinusoidal carrier wave c(t).
                </p>
                <center><img src="/static/images/BASK/BASK2.jpg">
                <br><img src="/static/images/BASK/BASK3.jpg">
                </center>    
                <p>From Fig., BASK modulated waveform envelop is not constant.</p>
                <p>Detection of the BASK wave is concerned, the simplest way is to use an envelope detector, exploiting
                    the nonconstant-envelope property of the BASK signal.</p>
            </span>

            </p>

            </div>

            <script src="../../static/main.js"></script>

</body>

</html>