<!DOCTYPE html>
<html lang="en">
  {% include 'head.html' %}
  <body class="graph-body">
    {% with title= title %} {% include 'nav.html' %} {%endwith%}
    <div class="container-full" id="graph-back">
      <form
        id="modulation-form"
        onsubmit="handleSubmit('{{dmtype}}')"
        method="POST"
      >
        <div class="inputs">
          {% if dmtype == 'BFSK' %}
          <div class="input-wrapper">
            <label for="ampc">Carrier Amplitude</label>
            <input
              type="number"
              id="ampc"
              name="Ac"
              min="1"
              class="input-bar"
              placeholder=""
              required
            />
          </div>
          <div class="input-wrapper">
            <label for="freqc">Carrier1 Frequency</label>
            <input
              type="number"
              id="freqc"
              name="fc1"
              class="input-bar"
              min="1000"
              max="50000"
              placeholder="in HZ"
              required
            />
          </div>
          <div class="input-wrapper">
            <label for="freqc">Carrier2 Frequency</label>
            <input
              type="number"
              id="freqc"
              name="fc2"
              class="input-bar"
              min="1000"
              max="50000"
              placeholder="in HZ"
              required
            />
          </div>
          {% elif dmtype == 'BASK' %}
          <div class="input-wrapper">
            <label for="freqc">Carrier Frequency</label>
            <input
              type="number"
              id="freqc"
              name="fc"
              class="input-bar"
              min="1000"
              max="50000"
              placeholder="in HZ"
              required
            />
          </div>
          <div class="input-wrapper">
            <label for="ampc">Carrier1 Amplitude</label>
            <input
              type="number"
              id="ampc"
              name="Ac1"
              min="1"
              class="input-bar"
              placeholder=""
              required
            />
          </div>
          <div class="input-wrapper">
            <label for="ampc">Carrier2 Amplitude</label>
            <input
              type="number"
              id="ampc"
              name="Ac2"
              min="1"
              class="input-bar"
              placeholder=""
              required
            />
          </div>

          {% else %}
          <div class="input-wrapper">
            <label for="ampc">Carrier Amplitude</label>
            <input
              type="number"
              id="ampc"
              name="Ac"
              min="1"
              class="input-bar"
              placeholder=""
              required
            />
          </div>
          <div class="input-wrapper">
            <label for="freqc">Carrier Frequency</label>
            <input
              type="number"
              id="freqc"
              name="fc"
              class="input-bar"
              min="1000"
              max="50000"
              placeholder="in HZ"
              required
            />
          </div>
          {% endif %}

          <div class="input-wrapper">
            <label for="freqm">Bit Duration</label>
            <input
              type="number"
              id="freqm"
              min="1"
              name="Tb"
              placeholder="in ms"
              required
            />
          </div>
          <div class="input-wrapper">
            <label for="am">Input Binary Sequence</label>
            <input
              type="text"
              id="am"
              name="inputBinarySeq"
              maxlength="8"
              placeholder="eg: 10010101"
              type="number"
              required
            />
          </div>

          <br />
        </div>

        <div class="buttons">
          <button id="submit-button">Show Results</button>
          <button id="downloadGroup">Download</button>
        </div>
      </form>
    </div>


    <div class="plot-wrapper">
      {% if inputs|length%}
      <div class="input-display-section">
        {%for key, value in inputs.items()%}
        <article class="selected-value">
          <span>{{key}}</span>:
          <span
            >{{value}} {%if key=="Am" or key=="Ac"%} Volts {%elif key=="fm" or
            key=="fc1" or key=="fc2" %} Hz {%endif%}
          </span>
        </article>
        {%endfor%}
      </div>
      {%endif%} {%if errMsg != "" %}
      <span
        style="
          background-color: brown;
          width: 100%;
          padding: 10px;
          display: inline-block;
          text-align: center;
          color: white;
        "
        >{{errMsg}}</span
      >
      {% set photoLinks = [] %} > {%else%} {% if plots | length == 0%} {% set
      photoLinks = [] %}
      <p class="info">Please select the values to generate the graph</p>
      {% else %} {% set photoLinks = [] %} {% for plot in plots %} {% set
      photoData = plot|decode_hex|b64encode %} {% set photoLink =
      'data:image/png;base64,' ~ photoData %} {% if photoLinks.append(photoLink)
      %}{% endif %}
      <img src="{{ photoLink }}" class="graph-plot" />
      {% endfor %} {% endif %} {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.6.0/jszip.min.js"></script>
    <script>

      document.getElementById('downloadGroup').addEventListener('click', function () {
              // Create a new ZIP file
              var zip = new JSZip();
                var photoLinks = {{ photoLinks|tojson|safe }};
                console.log(photoLinks);

                if(photoLinks.length == 0){
                  alert('Generate modulation to downalod');
                }
                else{
       // Iterate through photoLinks and add each photo to the ZIP file
       for (var index = 0; index < photoLinks.length; index++) {
                  var photoLink = photoLinks[index];
                  var imgData = photoLink.split(',')[1];
                  zip.file("photo" + (index + 1) + ".png", imgData, { base64: true });
              }

              // Generate the ZIP file and trigger the download
              zip.generateAsync({ type: "blob" }).then(function (blob) {
                  var link = document.createElement("a");
                  link.href = URL.createObjectURL(blob);
                  link.download = "photos.zip"; // Specify the filename for the downloaded ZIP file
                  link.click();
              });
                }

          });


        const form = document.getElementById('modulation-form');
        const typeOfMod = '{{dmtype}}';

      function handleSubmit(mtype){
          event.preventDefault();

          const inputValues = {};
          const allInputs = {};
          // console.log(mtype)

          const inputElements = form.querySelectorAll('input');

          inputElements.forEach(function(inputElement) {
            inputValues[inputElement.name] = inputElement.value;
          });

          allInputs[mtype] = inputValues;
          // console.log(allInputs);

          // Store input values in local storage
          // localStorage.setItem('inputValues', JSON.stringify(inputValues));
          localStorage.setItem('allInputs', JSON.stringify(allInputs));


          // Submit the form
          form.submit();
      }
        // Check if local storage contains saved input values
        if (localStorage.getItem('allInputs')) {
          const savedValues = JSON.parse(localStorage.getItem('allInputs'));
          // console.log(typeOfMod);
          // console.log(savedValues[typeOfMod]);

          const valuesRequired = savedValues[typeOfMod]
          // Pre-fill the form fields with saved values
          for (const value in valuesRequired) {
            if (valuesRequired.hasOwnProperty(value)) {
              const inputElement = form.querySelector(`[name="${value}"]`);
              if (inputElement) {
                inputElement.value = valuesRequired[value];
              }
            }
          }
         }
    </script>
  </body>
</html>
