<head>
  <link rel="stylesheet" href="/static/footer.css">
</head>
<!-- <div class="footspace"></div> -->
<div class="cont">
  <div class="coverr">
    <div class="col-sm about">
      <h1 class="about-head">About Us</h1>
      <p class="about-content">Greetings and welcome to our online simulator platform developed by a group of
        passionate students from the Indian Institute of Information Technology (IIIT) Dharwad. Our mission is to
        provide
        an interactive and educational
        experience that transcends the traditional boundaries of learning.
        Whether you are a student looking to supplement your classroom learning, an educator searching for innovative
        teaching tools, or a curious individual eager to explore new subjects, our online simulator platform welcomes
        you with open arms. Join us in the exciting journey of discovery, exploration, and learning.
      </p>
    </div>
    <div class="col-sm feedback">
      <form method="post" action="/subbb" class="feedback-form">

        <label for="fname" class="labell">Full Name</label>
        <input type="text" id="name" name="name" placeholder="Your name" class="write-text">

        <label for="subject" class="label00">Report bug / Feedback</label>
        <textarea id="subject" name="subject" placeholder="Write feedback..." style="height:200px"
          class="text-write"></textarea>

        <input type="submit" value="Submit" class="sub-btn">

      </form>
    </div>
  </div>
</div>